.env
credentials.json
token.json

world/
world_nether/
world_the_end/
cache/
logs/
usercache.json
version_history.json
whitelist.json
banned-ips.json
banned-players.json
ops.json

plugins/

eula.txt
server.properties
permissions.yml
bukkit.yml
spigot.yml
commands.yml
help.yml
paper.jar

config/
versions/
libraries/
.console_history

node_modules/
package-lock.json

backups/

test.html